
div {
    width: 1394px;
    height: 110px;
    margin: 10px 0 10px 24px;
    padding: 14px 0px 14px 0px;
}

ul {
 
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li {
    height: 44px;
    padding: 10px 19px 10px 19px;
}

.list1 {

}

